<h1 id="mainpage">{{title}}</h1>

<div class="topnav">
 <a href="/auth/login">Login</a>
 <a href="/auth/signup">Sign Up</a>
</div>

<div class="background">
  <p id="mainparagraph">Get insides about your carbon footprint while traveling</p>
  <a id="getstarted"href="auth/signup.hbs">Get Started</a>
</div>






