<nav>

  <div class="navauth">
    <img class="navlogo" src="/images/logo5.png" alt="travelclever-logo">
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Sign Up</a>
  </div>
</nav>

<header>
  <div class="background">
    <div>
      <h1 id="mainparagraph">Calculate the carbon footprint of your flight</h1></br>
    </div>
    <div>
      <a id="getstarted" href="auth/signup">Get Started</a></br>
    </div>
  </div>
</header>

<div class="usp_overview">

  <h1>Did you know?</h1>

  <div class="usp">
    <div>
      <img class="image_usp" src="/images/Transport-Airplane-Take-Off-icon.png" alt="transport-icon">
      <h3>Huge Transport Industry</h3>
      <p>Transport and especially flights are the second biggest sector for CO2 emissions</p>
    </div>
    <div>
      <img class="image_usp" src="/images/goal.png" alt="goal-icon">
      <h3>Two Tonnes Goal</h3>
      <p>IPCC: Humanity needs to reduce the individual CO2 consumption to 2 tonnes by the year 2050</p>
    </div>
    <div>
      <img class="image_usp" src="/images/footprint_38309.png" alt="everybody-icon">
      <h3>Everybody can make an impact</h3>
      <p>Choose your destinations wisely and re-think your way of transport</p>
    </div>
  </div>
</div>
</div>