body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url("/images/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
  // background-size: 100%;
}
h1 {
  color: red;
}
a {
  color: #00b7ff;
}
