body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url("/images/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
  // background-size: 100%;
}

// Main Page - Navigation Bar
//Add a black background color to the top navigation
.navauth {
  background-color: #3f6e7b;
  overflow: hidden;
}

//Style the links inside the navigation bar
.navauth a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

// Change the color of links on hover
.navauth a:hover {
  background-color: #ddd;
  color: black;
}

// Add a color to the active/current link
.navauth a.active {
  background-color: #4caf50;
  color: white;
}

//Main Page - Background
.background {
  background-image: url("/images/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background p {
  color: white;
  font-size: 1.2em;
  width: 50%;
  text-align: center;
}

.background a {
  background: white;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: center;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 15%;
}

// Here we start with the USPs

.usp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: center;
}

.usp_overview h2 {
  text-align: center;
}

.image_usp {
  width: 70px;
}

.usp div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.usp h4 {
  color: #3f6e7b;
}

.usp p {
  color: 1a1a1a;
}

// Auth Pages start here

#authtext {
  color: #666;
  margin: 30px auto;
  width: 380px;
  text-align: center;
}

#authform {
  margin: 30px auto;
  width: 380px;
}

#authform label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#authform input,
#authform button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#authform button {
  background: #3f6e7b;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#authform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.searchfield {
  padding: 30vh 10vw;
  box-sizing: border-box;
  text-align: center;
  
}

#startpoint {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#endpoint {
   box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.rightside {
  padding: 30vh 10vw;
  box-sizing: border-box;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// //bike

// .picturelist {
//   float: left;
//   padding: 10vw;
//   text-decoration: none;
//   background-image: url("/images/Transport-Airplane-Take-Off-icon.png");
//   background-position: center;
//   height: 10vw;
//   width: 15vw;
//   margin: 5vw;
// }

// .textbike {
//   float: right;
//   padding: 5vw;
//   margin: 200px;

// }

.savedrouteslayout {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;

  flex-wrap: wrap;
}
.singleRoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keys {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.singleRoute span {
  display: flex;
  align-items: center;
}
.singleRoute h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
