body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.navauth {
  background-color: #3f6e7b;
  overflow: hidden; }

.navauth img {
  float: left; }

.navuser img {
  float: left; }

.navauth a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: px; }

.navauth a:hover {
  background-color: #ddd;
  color: black; }

.navauth a.active {
  background-color: #4caf50;
  color: white; }

.navlogo {
  width: 10rem; }

.background {
  background-image: url("/images/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.background p {
  color: white;
  font-size: 1.2em;
  width: 50%;
  text-align: center; }

.background h1 {
  color: 3f6e7b; }

.background a {
  background: #3f6e7b;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: center;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 15%; }

#mainparagraph {
  text-shadow: 2px 2px #f0ffff; }

.usp {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.usp_overview h1 {
  text-align: center;
  margin-top: 10vh; }

.image_usp {
  width: 70px; }

.usp div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px; }

.usp h4 {
  color: #3f6e7b; }

.usp p {
  color: 1a1a1a; }

#authtext {
  color: #666;
  margin: 30px auto;
  width: 380px;
  text-align: center; }

#authform {
  margin: 30px auto;
  width: 380px; }

#authform label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#authform input,
#authform button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#authform button {
  background: #3f6e7b;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#authform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background; }

#searchform {
  display: flex;
  flex-direction: column; }

#searchform span {
  display: flex;
  align-content: space-between; }

.userpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 5%; }

.searchfield {
  margin: 5%; }

.userpage p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%; }

.content {
  display: flex;
  flex-direction: column;
  border: double; }

.resultsTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.co2results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.layout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  /* text-align: center; */
  /* align-content: space-around; */
  margin: 5%; }

.layout2 {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }

#footermain {
  background-color: #3f6e7b;
  color: #3f6e7b; }

.footer p {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: small; }

.savedrouteslayout {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.mainbtn {
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #3f6e7b;
  margin: 5%;
  padding: 3px 38px; }

.waddup {
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #3f6e7b;
  margin: 5%;
  padding: 3px 38px; }

.singleRoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%; }

.keys {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.singleRoute span {
  display: flex;
  align-items: center; }

.singleRoute h2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.searchformdeparturedestination {
  display: flex;
  justify-content: space-between; }

#startpointtext {
  margin-top: 15px;
  margin-bottom: 17px;
  width: 250px; }

#startpoint {
  margin-top: 15px;
  margin-bottom: 17px;
  width: 91px; }

#endpointtext {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px; }

#endpoint {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90px; }

.pointAlabel {
  margin-top: 15px;
  margin-bottom: 17px;
  width: 100px; }

.pointA {
  margin-top: 15px;
  margin-bottom: 17px;
  width: 100px; }

.pointB {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90px; }


/*# sourceMappingURL=style.css.map */