body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.navauth {
  background-color: #3f6e7b;
  overflow: hidden; }

.navauth img {
  float: left; }

.navuser img {
  float: left; }

.navauth a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: px; }

.navauth a:hover {
  background-color: #ddd;
  color: black; }

.navauth a.active {
  background-color: #4caf50;
  color: white; }

.navlogo {
  width: 10rem; }

.background {
  background-image: url("/images/white-airliner-wing-on-top-of-sea-clouds-2007401.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.background p {
  color: white;
  font-size: 1.2em;
  width: 50%;
  text-align: center; }

.background h1 {
  color: 3f6e7b; }

.background a {
  background: white;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: center;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 15%; }

.usp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: center; }

.usp_overview h1 {
  text-align: center;
  margin-top: 10vh; }

.image_usp {
  width: 70px; }

.usp div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px; }

.usp h4 {
  color: #3f6e7b; }

.usp p {
  color: 1a1a1a; }

#authtext {
  color: #666;
  margin: 30px auto;
  width: 380px;
  text-align: center; }

#authform {
  margin: 30px auto;
  width: 380px; }

#authform label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#authform input,
#authform button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#authform button {
  background: #3f6e7b;
  border: 1px solid #3f6e7b;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#authform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background; }

.searchfield {
  padding: 30vh 10vw;
  box-sizing: border-box;
  text-align: center; }

#startpoint {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#endpoint {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

.rightside {
  padding: 30vh 10vw;
  box-sizing: border-box;
  text-align: center; }

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.layout2 {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; }

#footermain {
  background-color: #3f6e7b;
  color: #3f6e7b; }

.footer {
  background-color: #3f6e7b;
  color: #3f6e7b;
  margin: 0px;
  padding: 0px; }

/*# sourceMappingURL=style.css.map */