<h1>this represents the userpage</h1>


{{!-- changed action ="/searchresults" to ="/searchresults/add" --}}
<form action="/searchresults/" method="POST">
  <div>
    <label for="pointA">PointA:</label>
    <input type="text" name="pointA">
  </div>
  <div>
    <label for="pointB">PointB:</label>
    <input type="text" name="pointB">
  </div>
  <button type="submit">Add</button>
</form>


<p>Private page</p>
{{#if user}}
<div>
  <a href="/">Logout</a>
</div>
{{/if}}
<button class="waddup">Press here for waddup</button>
<h1 class="changeMe">change here</h1>
<script>
  document.querySelector(".waddup").onclick = () => {
    axios.get("http://localhost:3000/searchresults").then(response => {
      console.log(response.data)
      document.querySelector(".changeMe").innerText = response.data

    }).catch(err => {
      console.log(err)
    });
  }


</script>