<h1>this represents the userpage</h1>


{{!-- changed action ="/searchresults" to ="/searchresults/add" --}}
<form action="/searchresults/" method="POST">
  <div>
    <label for="pointA">PointA:</label>
    <input type="text" name="pointA">
  </div>
  <div>
    <label for="pointB">PointB:</label>
    <input type="text" name="pointB">
  </div>
  <button type="submit">Add</button>
</form>

<a href="/saved-routes">
  <button class="toSavedRoutes">TO MY SAVED ROUTES</button>
</a>


{{#if user}}
<div>
  <a href="/">Logout</a>
</div>
{{/if}}