<h1>this represents the userpage</h1>

<nav>
  <p class="navtitle">Travel Clever</p>
    <div class="navauth">
      <a href="/">Logout</a>
      <a href="/saved-routes">My saved Routes</a>
    </div>
</nav>

{{!-- changed action ="/searchresults" to ="/searchresults/add" --}}
<form action="/searchresults/" method="POST">
  <div>
    <label for="pointA">PointA:</label>
    <input type="text" name="pointA">
  </div>
  <div>
    <label for="pointB">PointB:</label>
    <input type="text" name="pointB">
  </div>
  <button type="submit">Add</button>
</form>



{{#if user}}
<div>
  <a href="/">Logout</a>
</div>
{{/if}}