{{!-- <h1>this represents the userpage</h1> --}}

<nav>
  <p class="navtitle">Travel Clever</p>
  <div class="navauth">
    <a href="/auth/logout">Logout</a>
    <a href="/saved-routes">My saved Routes</a>
  </div>
</nav>

<div class="userpage">

  <h2>Flight Carbon Footprint Calculator</h2>
  <div class="searchformdeparturedestination">
    <form id="searchform" action="/searchresults/" method="POST">
      <span>
        <label id="startpoint" for="pointA">Departure: </label>
        <input type="text" name="pointA" placeholder="add your departure here...">
      </span>
      <span>
        <label id="endpoint" for="pointB">Destination:</label>
        <input type="text" name="pointB" placeholder="add your destination here...">
      </span>
      <button class="mainbtn" id="addtoroutes" type="submit">See Results</button>
    </form>
  </div>

  <p>* Emissions are calculated based on the DEFRA methodologies for passenger and freight transport. These
    methodologies contain emissions factors which describe the rate at which greenhouse gas emissions are produced
    in
    relation to distance travelled and - in the case of freight - the quantity of goods freighted.</p>

</div>